
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="about">
          <h3>About Us</h3>
          <h5 class="about-text">This platform provide a space where developers and programmers can discuss their doubts related to coding, you can ask and answer a question and even contribute by answering a question which you feel might help others.</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
          <h1 class="footer-icons">
            <a class="icon-anchor" href="mailto:yogeshfuke223@gmail.com"><i class="far fa-envelope"></i></a>
          </h1>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="developer">
          <h3>Developer <i class="fas fa-code developer-icon"></i></h3>
          <h4> Yogesh Fuke@ IIT(ISM) Dhanbad Bachelor of Technology in Electrical Engineering</h4>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
